.wrapper {
    display: grid;
    place-items: center;
    margin-top: 5%;
}

.container {
    border: 3px solid rgb(205, 203, 203);
    border-radius: 25px;
    padding: 1em;
    height: 300px;
    width: 600px;
}